/* navbar */
body, html {

    padding: 0;
    margin: 0px;
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("images/ep_naturalwhite.png");
    overflow-x: hidden;

    font-family: Helvetica, Arial, Sans-Serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* navbar-top */
.nav-top {
	position: fixed;
	left: 0;
    top: 0;
    width: 100%;

    display: flex;
}

.nav-top__logo {
	flex-grow: 1;
    background-color: #9E9E9E;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nav-top__toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: #9E9E9E;

    display: none;
}

.nav-top__flex-wrapper {
    flex-grow: 5;
    display: flex;
    justify-content: center;
    list-style-type: none;

	padding: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.nav-top__flex-wrapper__menu-item {
	flex-grow: 1;
	background-color: #607D8B;
}


.nav-top__flex-wrapper__menu-item__link {
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 18px;
	padding: 10px;
	color: #bfbfbf;
	text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.533333px 0.833333px 0px, rgb(0, 0, 0) -0.416667px 0.916667px 0px, rgb(0, 0, 0) -0.983333px 0.133333px 0px, rgb(0, 0, 0) -0.65px -0.75px 0px, rgb(0, 0, 0) 0.283333px -0.966667px 0px, rgb(0, 0, 0) 0.966667px -0.283333px 0px;

}

.nav-top__flex-wrapper__menu-item__link:hover {
    background-color: #718F9C;

}

.nav-top__logo__link, .nav-top__toggle__link {
	text-decoration: none;
    text-align: center;
    display: block;
    font-size: 18px;
	padding: 10px;
	color: #bfbfbf;
	text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.533333px 0.833333px 0px, rgb(0, 0, 0) -0.416667px 0.916667px 0px, rgb(0, 0, 0) -0.983333px 0.133333px 0px, rgb(0, 0, 0) -0.65px -0.75px 0px, rgb(0, 0, 0) 0.283333px -0.966667px 0px, rgb(0, 0, 0) 0.966667px -0.283333px 0px;
    flex-grow: 1;
}

.nav-top__flex-wrapper__menu-item__link:visited {
	background-color: #7a8e9c;
	color: #bfbfbf;
	text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.533333px 0.833333px 0px, rgb(0, 0, 0) -0.416667px 0.916667px 0px, rgb(0, 0, 0) -0.983333px 0.133333px 0px, rgb(0, 0, 0) -0.65px -0.75px 0px, rgb(0, 0, 0) 0.283333px -0.966667px 0px, rgb(0, 0, 0) 0.966667px -0.283333px 0px;

}

.nav-top__toggle__link__button {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

@media only screen and (max-width: 768px) {
    .nav-top {
        flex-direction: column;
    }

	.nav-top__flex-wrapper {
		flex-direction: column;
    }

     .container__section-hero__box{
        margin-top: 170px;
    }

    .nav-top__flex-wrapper--collapsed {
        max-height: 0 !important;
    }

    .nav-top__toggle {
        display: flex;
    }

}


/* hero */
.container__section-hero{
	/* margin-top: 55px; */
    display:flex;
    width:100%;

    background-image:url(images/hero-img.jpg);
    background-size:100% 100%;
    justify-content: center;
	align-items: center;

	padding-bottom: 25px;
}
.container__section-hero__box{
    padding:10px;
    color: white;
    text-align: center;
    font-family:  'Lucida Sans';
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.533333px 0.833333px 0px, rgb(0, 0, 0) -0.416667px 0.916667px 0px, rgb(0, 0, 0) -0.983333px 0.133333px 0px, rgb(0, 0, 0) -0.65px -0.75px 0px, rgb(0, 0, 0) 0.283333px -0.966667px 0px, rgb(0, 0, 0) 0.966667px -0.283333px 0px;
}
.container__section-hero__box__text{
    padding:10px;
    font-size: 34px;
	text-transform: uppercase;
	color: white;
}
.section__hero__box__features-desc{
    padding:5px;
    font-size: 20px;
    text-align: center;
}

input[type=submit]
{
	background-color: #607D8B;
	color: white;
	padding: 5px 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:hover
{
	background-color: #7a8e9c;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

@media only screen and (max-width: 300px) {

    .container__section-hero__box__form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button--in-column
    {
        margin-top: 10px;
    }

}


.container__section-hero__box__link:hover{
    background-image: linear-gradient(#e9a3a3,#ff7675);
    color: #bfbfbf;
}

/* about me */
.container__about-me {
    display: flex;
    justify-content: center;
}

.container__about-me__text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.container__about-me__img_wrapper {
    padding: 20px;
    justify-content: center;
    flex-grow: 1;

    display: flex;

    align-items: center;
}

.container__about-me__img_wrapper__img {
    width:100%;
    height: auto;
    border-radius: 50%;
}


@media only screen and (max-width: 768px) {
    .container__about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: column-reverse;
    }

    .container__about-me__text {
        width: 100%;
    }

    .container__about-me__img_wrapper__img {
        max-width:100%;
        height: auto;
        border-radius: 50%;
    }

}

/* technologies */
.container__technologies {
    display: flex;
    justify-content: center;
    padding: 20px;
    /* Background pattern from Toptal Subtle Patterns */
	background-image: url("images/old_moon.png");
}

.container__technologies__html {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__technologies__html__text {
    text-align: center;
}

.container__technologies__css {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__technologies__css__text {
    text-align: center;
}

.container__technologies__js {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__technologies__js__text {
    text-align: center;
}

.container__technologies--logo {
    width: auto;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .container__technologies {
        flex-direction: column;
        align-items: center;
    }

    .container__technologies__css {
        flex-direction: column-reverse;
    }
}